@import '../../../styles/variables.scss';

main {
    max-height: 100%;
    height: 100%;
}
form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;

    span{
        font-size: 14px;
        color: $secondary-color;
        text-align: end;
        text-decoration: underline;
    }
}